.logo {
    height: 35px;
    margin-left: 35px;
}

p {
    margin-bottom: 40px;
}

.section-container {
    margin-top: 20px;
}


.fa-container {
    display: flex;
    justify-content: center;
}

.background-color-container, .white-text-container {
    background-color: darkblue;
    color: white;
}

.text-center {
    margin-top: 30px;
    margin-bottom: 30px;
}

footer {
    background-color: rgb(236, 236, 236);
    padding-top: 30px;
}

@media (min-width: 768px) {
    .navbar-expand-md .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
        justify-content: flex-end;
        padding-right: 50px;
    }
}